.nhsuk-body-m {
    line-height: 32px;
    font-size: 19px;
}

@media screen and (max-width: 26.25em) {
    .nhsuk-body-m {
        padding-bottom: 20px;
    }  
}

.nhsuk-heading-xl {
    font-size: 32px; 
    font-weight: 700; 
    line-height: 40px; 
    margin-bottom: 24px;
}

.nhsuk-body-link {
    font-weight: 700;
    text-decoration: underline;
}

.nhs-button-link {
    display: block;
    text-align: right;
}

.nhsuk-wrapper {
    margin-top: 120px;
    margin-bottom: 40px;
}

@media screen and (max-width: 26.25em) {
    .nhsuk-wrapper {
        margin-top: 40px;
    }
}