.heading {
    background-color: black;
    color: white;
}

.preview-hidden {
    display: none;
}

.text-area-hidden {
    display: none;
}


/* Scoped CSS */
.nhs-uk-scoped .heading {
    background-color: black;
    color: white;
  }
  .nhs-uk-scoped .preview-hidden {
    display: none;
  }
  .nhs-uk-scoped .text-area-hidden {
    display: none;
  }