@media only screen and (min-width: 40.0625em) {
    .govuk-hero--image {
        min-height: 320px;
    }
}

.govuk-hero--image {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.govuk-hero {
    color: #fff;
    position: relative;  
}

.govuk-hero__overlay {
    min-height: 200px;
}

@media only screen and (min-width: 40.0625em) {
    .govuk-hero__overlay {
        height: 320px;
    }
}

.govuk-hero-content {
    background-color: #005eb8;
    color: #ffffff;
    margin-bottom: 24px;
    padding: 24px;
    position: relative;
    top: 70px;
}

@media (min-width: 23.4375em) {
    .govuk-hero-content {
        width: 85%;
    }
}

@media (min-width: 40.0625em) {
    .govuk-hero-content {
        bottom: -48px;
        margin-bottom: 0;
        max-width: 545px;
        padding: 32px 40px;
        position: absolute;
        top: auto;
    }
}

.govuk-hero__arrow {
    bottom: -10px;
    display: block;
    height: 20px;
    left: 32px;
    overflow: hidden;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;  
}

@media (min-width: 40.0625em) {
    .govuk-hero__arrow {
        left: 46px;
    }
}

.govuk-hero__arrow:before,
.govuk-hero__arrow:after {
    border: solid 32px #005eb8;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 0; 
}

.nhsuk-heading-xl,
.nhsuk-body-l {
    color:#fff;
}

.nhsuk-heading-xl {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 26.25em) {
    .nhsuk-heading-xl {
        font-size: 28px;
        line-height: 32px;
    }
}

.nhsuk-body-l {
    font-size: 16px;
    line-height: 32px;
}
